<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>
<body class="container">
    <%- include('../partials/header');%>

    <main>
        <div class="jubotron">
            <h1>Sobre EJS</h1>
            <p>É uma Template Engine...</p>
        </div>
    </main>

    <%- include('../partials/footer');%>
</body>
</html>